# R / Quarto
.Rhistory
.RData
.Rproj.user

# Quarto build outputs
_site/
*.utf8.md
*.knit.md

# Quarto local config / cache
.quarto/

# Python / Jupyter si utilisé
__pycache__/
*.pyc
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac / Windows temp
.DS_Store
Thumbs.db

# Docker (optionnel)
Dockerfile
